# General
dump*
# README.md 
*tfevents*
# docker/*
*__pycache__*
*.DS_Store*
*.idea*
# notebooks
notebooks/rdkit*
notebooks/transformer*
# results
results/llm*
results/GradientBoosting*
results/RandomForest*
results/AdaBoost*
results/SVR*
results/XGB*
results/GNN/model*
results/~$Method.pptx
results/Method.pptx
